<!DOCTYPE html>
<html lang="en">

<body>
   <br><b>Add ice resource</b><br><br>
<form onclick="Resource submitted">
  Category:<br>
  <input type="text" name="category">
  <br>
  Price:<br>
  <input type="text" name="price">
  <br>
  Quantity:<br>
  <input type="number" name="qty">
  <br>
  Size:<br>
  <input type="number" name="size">
  <br>
  <br>
  <input type="submit" onclick="alert('Resource added!')" value="Submit">
  <!--<button> type="button" onclick="alert('Resource requested!')">Request!</button>-->
   <br><br>
</body>
</html>