<!DOCTYPE html>
<html lang="en">

<body>
<h1>Add Payment Method</h1>
<p>Please, fill your information.</p>

<form action="http://127.0.0.1:5000/about">
  Card Number:<br>
  <input type="text" name="cardnumber">
  <br>
  Exp Date:<br>
  <input type="text" name="expdate">
  <br>
    Balance:<br>
  <input type="text" name="balance">
  <br><br>
  <input type="submit" value="Submit">

    <br>
  <h1>Update Payment Method</h1>
  <p>Please, fill your information.</p>

  <form action="http://127.0.0.1:5000/about">
  Card Number:<br>
  <input type="text" name="cardnumber">
  <br>
  Exp Date:<br>
  <input type="text" name="expdate">
  <br>
    Balance:<br>
  <input type="text" name="balance">
  <br><br>
  <input type="submit" value="Update">
</body>
</html>

