<!DOCTYPE html>
<html lang="en">
<h1>Resources</h1>
<p>Which resource do you wish to add?</p>

<br>
<select>
  <option value="water">Water</option>
  <option value="fuel">Fuel</option>
  <option value="medx">Medicine</option>
  <option value="clothes">Clothes</option>
  <option value="generator">Power Generator</option>
  <option value="batteries">Batteries</option>
  <option value="food">Food</option>
  <option value="ice">Ice</option>
</select><br><br>
<button type="button" onclick="alert('Resource requested!')">Add!</button>
<br><br>

<body>

</body>
</html>