<!DOCTYPE html>
<html>
<body>

<p>Which resource do you wish to modify?</p>

<br>
<select>
  <option value="water">Water</option>
  <option value="fuel">Fuel</option>
  <option value="medx">Medicine</option>
  <option value="clothes">Clothes</option>
  <option value="generator">Power Generator</option>
  <option value="batteries">Batteries</option>
  <option value="food">Food</option>
  <option value="ice">Ice</option>
</select><br><br>
<button type="button" onclick="alert('Resource requested!')">Request!</button>
<br><br>



</body>
</html>
