<!DOCTYPE html>
<html>
<body>
<h1>Supplier</h1>
<p>Please, fill your information.</p>

<form action="http://127.0.0.1:5000/PRSeLevanta/suppliers" method='post' >
  First name:<br>
  <input type="text" name="first_name">
  <br>
  Last name:<br>
  <input type="text" name="last_name">
  <br>
    Street:<br>
  <input type="text" name="street">
  <br>
     Urb:<br>
  <input type="text" name="urb_conde">
  <br>
     Num:<br>
  <input type="text" name="num">
  <br>
     City:<br>
  <input type="text" name="city">
  <br>
     State:<br>
  <input type="text" name="state">
  <br>
     Zip:<br>
  <input type="text" name="zip">
  <br>
     Location:<br>
  <input type="text" name="gps_local">
  <br><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>